[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/forge-deploy-lite"]
	path = lib/forge-deploy-lite
	url = https://github.com/zapaz/forge-deploy-lite
